build/
.xmake
# Visual Studio
CMakeSettings.json

# Visual Studio Code
.vscode/
*.code-workspace

# Compiled Object files
*.slo
*.lo
*.o
*.obj
.cache

# Precompiled Headers
*.gch
*.pch

engine/shader/save/
